<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} Meses <br />
  <br />
</p>
